@use '/src/styles/constants/colors';

@mixin iconStyle {
  position: absolute;
  top: 26px;
  right: 13px;

  svg {
    font-size: 18px;
    fill: colors.$GRAYD;
  }
}

.container {
  margin-top: 70px;

  .layout {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 20px auto;
    color: colors.$GRAY6;

    span {
      font-size: 12px;
    }

    .inputBox {
      box-sizing: border-box;
      display: block;
      height: 40px;
      padding: 8px;
      background-color: colors.$GRAYF;
      border: 1px solid colors.$GRAYD;
      border-radius: 3px;
      outline: none;

      &::placeholder {
        color: colors.$GRAYA;
      }
    }

    .emailIcon {
      @include iconStyle;

      &.isActive {
        svg {
          fill: colors.$TEAL;
        }
      }
    }

    .passwordIcon {
      @include iconStyle;
      cursor: pointer;
    }

    .errorCode {
      padding: 5px;
      font-size: 13px;
      color: colors.$RED;
    }
  }
}
