@use '/src/styles/constants/colors';

.container {
  margin-top: 70px;

  .foodList {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 480px;
    padding: 0;
    margin: 0 auto;
    background-color: #fdfdfd;
    border-bottom: 2px solid colors.$GRAYE;

    .foodItem {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 150px;
      height: 56px;
      font-size: 14px;
      font-weight: bold;
      color: colors.$GRAYA;
      cursor: pointer;

      &.isActive {
        color: colors.$BLACK;
      }
    }

    .itemBar {
      position: absolute;
      top: 56px;
      left: 15px;
      width: 150px;
      height: 2px;
      background-color: #10aeb1;
      transition: 0.2s;

      &.one {
        transform: translateX(150px);
      }

      &.two {
        transform: translateX(300px);
      }
    }
  }
}
